---
layout: default
---
<p>This project will develop technologies to improve the integration of ligand and protein data for structure-based prediction of protein-ligand selectivity and polypharmacology.</p>

<p>The project will use <a href="http://www.knime.org">Knime Analytics Platform</a> to integrate the different technologies and datasets.</p>

<p>To install 3D-e-Chem Knime plugins use <a href="/updates">https://3d-e-chem.github.io/updates</a> as update site.</p>

{% include latestnews.html %}

{% include repositories.html %}

{% include publications.html %}

<h2><a name="dissemination"></a><span class="mega-octicon octicon-briefcase"></span>&nbsp;Dissemination</h2>

<h3>Posters</h3>
<ul>
<li>Verhoeven, Stefan et al.. (2016). 3-D-eChem VM: Cheminformatics Research Infrastructure in a Downloadable Virtual Machine. Zenodo. <a href="http://dx.doi.org/10.5281/zenodo.47208">10.5281/zenodo.47208</a>
</li>
</ul>
<!-- There are no presentations, videos, screencasts, poster, etc. yet. -->
