---
layout: default
---

<div class="home">

<p>This project will develop technologies to improve the integration of ligand and protein data for structure-based prediction of protein-ligand selectivity and polypharmacology.</p>

<p>The project will use <a href="http://www.knime.org">Knime Analytics Platform</a> to integrate</p>

<p>Use <a href="/updates">https://3d-e-chem.github.io/updates</a> as update site to install 3D-e-Chem Knime plugins.</p>

{% include repositories.html %}

{% include publications.html %}

<h1><a href="material"></a>Material</h1>

    <!--
    Place to add presentations, videos, screencasts, posters etc.
    -->
</div>
