{% for page in site.pages %}
  {% if page.title %}
  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  {% endif %}
{% endfor %}
{% if site.urls.project %}
<a class="page-link" href="{{ site.urls.project }}"><span class="octicon octicon-home"></span><span class="octitext">Project homepage</span></a>
{% endif %}
{% if site.urls.organization %}
<a class="page-link" href="{{ site.urls.organization }}"><span class="octicon octicon-mark-github"></span><span class="octitext">Github organization</span></a>
{% endif %}
<a class="page-link" href="{{ 'news.html' | prepend: site.baseurl }}"><span class="octicon octicon-radio-tower"></span><span class="octitext">News</span></a>
<a class="page-link" href="{{ 'team.html' | prepend: site.baseurl }}"><span class="octicon octicon-organization"></span><span class="octitext">Team</span></a>
<a class="page-link" href="{{ '/#repositories' | prepend: site.baseurl }}"><span class="octicon octicon-repo"></span><span class="octitext">Repositories</span></a>
<a class="page-link" href="{{ '/#publications' | prepend: site.baseurl }}"><span class="octicon octicon-book"></span><span class="octitext">Publications</span></a>
<a class="page-link" href="{{ '/#dissemination' | prepend: site.baseurl }}"><span class="octicon octicon-briefcase"></span><span class="octitext">Dissemination</span></a>
