{% for page in site.pages %}
  {% if page.title %}
  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  {% endif %}
{% endfor %}
{% if site.urls.project %}
<a class="page-link" href="{{ site.urls.project }}"><span class="octicon octicon-home"></span><p>&nbsp;Project homepage</p></a>
{% endif %}
{% if site.urls.organization %}
<a class="page-link" href="{{ site.urls.organization }}"><span class="octicon octicon-mark-github"></span><p>&nbsp;Github organization</p></a>
{% endif %}
<a class="page-link" href="{{ 'news.html' | prepend: site.baseurl }}"><span class="octicon octicon-radio-tower"></span><p>&nbsp;News</p></a>
<a class="page-link" href="{{ 'team.html' | prepend: site.baseurl }}"><span class="octicon octicon-organization"></span><p>&nbsp;Team</p></a>
<a class="page-link" href="{{ '/#repositories' | prepend: site.baseurl }}"><span class="octicon octicon-repo"></span><p>&nbsp;Repositories</p></a>
<a class="page-link" href="{{ '/#publications' | prepend: site.baseurl }}"><span class="octicon octicon-book"></span><p>&nbsp;Publications</p></a>
<a class="page-link" href="{{ '/#dissemination' | prepend: site.baseurl }}"><span class="octicon octicon-briefcase"></span><p>&nbsp;Dissemination</p></a>
