/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-titles {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-titles img {
    height: 32px;
    padding-right: 32px;
}

.site-title {
  font-size: 32px;
  font-weight: 300;
}

.site-nav {
    float: right;
    line-height: 56px;
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .page-link {
        display: block;
        color: $text-color;
        line-height: $base-line-height;
        text-decoration: none;
        text-align: left;

         .octicon {
            vertical-align: middle;
            font-size: 24px;
            width: 24px;
            text-align: center;
        }

        p {
            display: inline;
        }

        &:hover {
            background: darken($background-color, 1%);
        }
    }

    .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        > svg {
            width: 18px;
            height: 15px;

            path {
                fill: $grey-color-dark;
            }
        }
    }

    .trigger {
        clear: both;
        display: none;
        margin: 0px 3px 0px 3px;
    }

    &:hover .trigger {
        display: block;
        padding-bottom: 5px;
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list,
.menu-links {
    list-style: none;
    margin-left: 0;

    .octicon {
            vertical-align: baseline;
    }
}

.menu-links {
    display: block;

    .page-link {
        color: $grey-color;
        display: block;

        p {
            display: inline;
        }
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.partner-logos img {
  max-height: 3rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}
.partner-logos img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.repositories, .team-members {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.repo-card {
    box-shadow: 0px 0px 3px 1px $grey-color-light;
    height: 270px;
    margin: 5px;
    overflow: auto;
    width: 290px;
}

.team-member-card {
    box-shadow: 0px 0px 3px 1px $grey-color-light;
    margin: 5px;
    overflow: hidden;
    width: 200px;
    padding: 5px;
    text-align: center;

    img {
        width: 160px;
    }
    a {
        text-decoration: none;
    }
}

.repo-card:hover, .team-member-card:hover {
   background: darken($background-color, 1%);
}

.repo-card > a, {
    color: inherit;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.repo-card h2, .team-member-card h3 {
    margin-bottom: 2px;
    color: $brand-color;
}

.repo-card h3, .team-member-card h4 {
    font-size: $small-font-size;
    color: $grey-color;
}

.octicon, .mega-octicon {
    vertical-align: middle;
    text-align: center;
    width: 16px;
}
.mega-octicon {
    width: 32px;
}

.octitext {
    padding-left: 4px;
    vertical-align: middle;
}

.team-member-photo {
    float: left;
    width: 200px;
    padding-bottom: 10px;
    padding-right: 10px;
}
